@page
@model SS14.Admin.Pages.LoginFailed

@{
    ViewData["Title"] = "Error";
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<h1 class="text-danger">@Localizer["Failed to log in"]</h1>
<h2 class="text-danger">@Localizer["You are not a server administrator"]</h2>

